**/.settings/
**/.gradle/

**/build/

// Ignore all .class files
**/*.class
// .properties files
**/*.properties
// Ignore all .log files
**/*.log
// .project files
**/.project
Sprint3/run.ps1
/Sprint3/node_modules
*.tar
